USE [master]
GO
/****** Object:  Database [H15_PROJET_E03]    Script Date: 2015-05-06 15:14:37 ******/
CREATE DATABASE [H15_PROJET_E03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'H15_PROJET_E03', FILENAME = N'C:\Dept_Info_SQL_Transfert\H15_PROJET_E03.mdf' , SIZE = 10240KB , MAXSIZE = 20480KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'H15_PROJET_E03_log', FILENAME = N'C:\Dept_Info_SQL_Transfert\H15_PROJET_E03_log.ldf' , SIZE = 10240KB , MAXSIZE = 204800KB , FILEGROWTH = 20%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [H15_PROJET_E03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [H15_PROJET_E03]
GO
/****** Object:  User [LABORATOIRE\1387434]    Script Date: 2015-05-06 15:14:37 ******/
CREATE USER [LABORATOIRE\1387434] FOR LOGIN [LABORATOIRE\1387434] WITH DEFAULT_SCHEMA=[LABORATOIRE\1387434]
GO
/****** Object:  User [LABORATOIRE\1252991]    Script Date: 2015-05-06 15:14:37 ******/
CREATE USER [LABORATOIRE\1252991] FOR LOGIN [LABORATOIRE\1252991] WITH DEFAULT_SCHEMA=[LABORATOIRE\1252991]
GO
/****** Object:  User [LABORATOIRE\1250824]    Script Date: 2015-05-06 15:14:37 ******/
CREATE USER [LABORATOIRE\1250824] FOR LOGIN [LABORATOIRE\1250824] WITH DEFAULT_SCHEMA=[LABORATOIRE\1250824]
GO
/****** Object:  User [LABORATOIRE\0934818]    Script Date: 2015-05-06 15:14:37 ******/
CREATE USER [LABORATOIRE\0934818] FOR LOGIN [LABORATOIRE\0934818] WITH DEFAULT_SCHEMA=[LABORATOIRE\0934818]
GO
ALTER ROLE [db_owner] ADD MEMBER [LABORATOIRE\1387434]
GO
ALTER ROLE [db_owner] ADD MEMBER [LABORATOIRE\1252991]
GO
ALTER ROLE [db_owner] ADD MEMBER [LABORATOIRE\1250824]
GO
ALTER ROLE [db_owner] ADD MEMBER [LABORATOIRE\0934818]
GO
/****** Object:  Schema [Agences]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [Agences]
GO
/****** Object:  Schema [LABORATOIRE\0934818]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [LABORATOIRE\0934818]
GO
/****** Object:  Schema [LABORATOIRE\1250824]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [LABORATOIRE\1250824]
GO
/****** Object:  Schema [LABORATOIRE\1252991]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [LABORATOIRE\1252991]
GO
/****** Object:  Schema [LABORATOIRE\1387434]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [LABORATOIRE\1387434]
GO
/****** Object:  Schema [Proprietes]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [Proprietes]
GO
/****** Object:  Schema [Rdv]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [Rdv]
GO
/****** Object:  Schema [Seance]    Script Date: 2015-05-06 15:14:38 ******/
CREATE SCHEMA [Seance]
GO
/****** Object:  Table [Agences].[Agent]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Agences].[Agent](
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agences_Agent_AgentId] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Proprietes].[Photo]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proprietes].[Photo](
	[PhotoId] [int] NOT NULL,
	[TypeFichier] [nvarchar](4) NULL,
	[Chemin] [nvarchar](255) NULL,
	[ProprieteId] [int] NOT NULL,
 CONSTRAINT [PK_Photo_PhotoId_ProprieteId] PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC,
	[ProprieteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Proprietes].[Propriete]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proprietes].[Propriete](
	[ProprieteId] [int] IDENTITY(1,1) NOT NULL,
	[Client] [nvarchar](50) NULL,
	[Adresse] [nvarchar](235) NULL,
	[Ville] [nvarchar](50) NULL,
 CONSTRAINT [PK_Propriete_ProprieteId] PRIMARY KEY CLUSTERED 
(
	[ProprieteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Rdv].[Rdv]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rdv].[Rdv](
	[RdvId] [int] IDENTITY(1,1) NOT NULL,
	[Confirmer] [bit] NOT NULL,
	[Client] [nvarchar](50) NULL,
	[Photographe] [nvarchar](50) NULL,
	[SeanceId] [int] NOT NULL,
 CONSTRAINT [PK_Rdv_RdvId] PRIMARY KEY CLUSTERED 
(
	[RdvId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Seance].[Seance]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seance].[Seance](
	[SeanceId] [int] IDENTITY(1,1) NOT NULL,
	[DateSeance] [datetime] NULL,
	[Photographe] [nvarchar](50) NULL,
	[Client] [nvarchar](50) NULL,
	[Forfait] [nvarchar](50) NULL,
	[Commentaire] [nvarchar](375) NULL,
	[Statut] [nvarchar](50) NULL,
	[AgentId] [int] NULL,
	[ProprieteId] [int] NULL,
 CONSTRAINT [PK_Seance_SeanceId] PRIMARY KEY CLUSTERED 
(
	[SeanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [Agences].[Agent] ON 

INSERT [Agences].[Agent] ([AgentId], [Nom]) VALUES (1, N'Dylan')
SET IDENTITY_INSERT [Agences].[Agent] OFF
ALTER TABLE [Proprietes].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_Propriete_ProprieteId] FOREIGN KEY([ProprieteId])
REFERENCES [Proprietes].[Propriete] ([ProprieteId])
GO
ALTER TABLE [Proprietes].[Photo] CHECK CONSTRAINT [FK_Propriete_ProprieteId]
GO
ALTER TABLE [Rdv].[Rdv]  WITH CHECK ADD  CONSTRAINT [FK_RDV_SeanceID] FOREIGN KEY([SeanceId])
REFERENCES [Seance].[Seance] ([SeanceId])
GO
ALTER TABLE [Rdv].[Rdv] CHECK CONSTRAINT [FK_RDV_SeanceID]
GO
ALTER TABLE [Seance].[Seance]  WITH CHECK ADD  CONSTRAINT [FK_Seance_AgentId] FOREIGN KEY([AgentId])
REFERENCES [Agences].[Agent] ([AgentId])
GO
ALTER TABLE [Seance].[Seance] CHECK CONSTRAINT [FK_Seance_AgentId]
GO
ALTER TABLE [Seance].[Seance]  WITH CHECK ADD  CONSTRAINT [FK_Seance_ProprieteId] FOREIGN KEY([ProprieteId])
REFERENCES [Proprietes].[Propriete] ([ProprieteId])
GO
ALTER TABLE [Seance].[Seance] CHECK CONSTRAINT [FK_Seance_ProprieteId]
GO
/****** Object:  Trigger [Rdv].[trg_RDVConfirme]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- QUAND LE RENDEZ-VOUS EST PRIS, LE STATUT DE LA SÉANCE DEVIENT CONFIRMÉ

CREATE TRIGGER [Rdv].[trg_RDVConfirme]
ON [Rdv].[Rdv]
AFTER UPDATE
AS
BEGIN
	DECLARE @idSeance int
	DECLARE @statut bit

	SELECT @idSeance = i.SeanceId, @statut = i.Confirmer
	FROM inserted i

	IF(@statut = 0)
	BEGIN
		UPDATE Seance.Seance
		SET Statut = 'Reportee'
		WHERE SeanceId = @idSeance
	END
	IF(@statut = 1)
	BEGIN
		UPDATE Seance.Seance
		SET Statut = 'Confirmee'
		WHERE SeanceId = @idSeance
	END
END

GO
/****** Object:  Trigger [Seance].[trg_RDVReporte]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [Seance].[trg_RDVReporte]
ON [Seance].[Seance]
AFTER UPDATE
AS
BEGIN
	DECLARE @idSeance int
	DECLARE @dateNouvelle DATETIME
	DECLARE @dateVieille DATETIME

	SELECT @idSeance = i.SeanceId, @dateNouvelle = i.DateSeance
	FROM inserted i

	SELECT @dateVieille = d.DateSeance
	FROM deleted d
	
	IF((YEAR(@dateNouvelle) != YEAR(@dateVieille)) OR (MONTH(@dateNouvelle) != MONTH(@dateVieille)) OR (DAY(@dateNouvelle) != DAY(@dateVieille)))
	BEGIN
		DECLARE @hourVieille int = DATEPART(HOUR, @dateVieille)
		DECLARE @minuteVieille int = DATEPART(MINUTE, @dateVieille)
		DECLARE @hourNouvelle int = DATEPART(HOUR, @dateNouvelle)
		DECLARE @minuteNouvelle int = DATEPART(MINUTE, @dateNouvelle)

		IF((@hourVieille != @hourNouvelle) OR (@minuteVieille != @minuteNouvelle))
		BEGIN
			UPDATE Seance.Seance
			SET Statut = 'Reportee'
			WHERE SeanceId = @idSeance
		END
	END

END

GO
/****** Object:  Trigger [Seance].[trg_SeanceConfirme]    Script Date: 2015-05-06 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [Seance].[trg_SeanceConfirme]
ON [Seance].[Seance]
FOR INSERT
AS
BEGIN
	DECLARE @SeanceId as int = (Select SeanceId FROM (Select TOP 1 * FROM inserted ORDER BY SeanceId DESC) AS I);
	
	UPDATE Seance.Seance
	SET Statut='Demandee'
	WHERE SeanceId = @SeanceId;
	
  END 

GO
USE [master]
GO
