@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestion Photos Immobilier</h1>
    <p class="lead">Bienvenue sur Gestion Photos Immobilier, Naviguez dans les onglets pour les différentes fonctionnalitées</p>
    <p><a href="/Seances" class="btn btn-primary btn-lg">Débuter avec les séances &raquo;</a></p>
</div>