@model GestionPhotoImmobilier.ViewModels.SeanceRdv

<div>
    <h4>Seance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photographe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photographe)
        </dd>
    </dl>
</div>

