@model GestionPhotoImmobilier.ViewModels.SeanceRdv

<h2>Forfait</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forfait)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Forfait)
        </td>
    </tr>
</table>