@model GestionPhotoImmobilier.ViewModels.SeanceRdv

<h4>Forfait</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forfait)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Forfait)
        </td>
    </tr>
</table>