@model GestionPhotoImmobilier.Models.Propriete

<h2>Propriété</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Adresse)
        </td>
        <td>
            @Html.DisplayFor(model => model.Ville)
        </td>
    </tr>
</table>