@model GestionPhotoImmobilier.Models.Agent

<h4>Information sur l'agent</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Nom)
        </td>
    </tr>
</table>